@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

:root {
    font-family: sans-serif;
}
 
body.page{
    max-width: 800px;
    margin: auto;
}
header {
    width: 100%;
}
div.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
span.logo {
    height: 50px;
    margin: 1.3% 2.5%;
}
div.logo_tel {
    display: flex;
    margin: 10px;
}
@media only screen and (max-width: 600px){
    div.top{
        display: flex;
        justify-content: space-around;
        width:100%;
        font-size:small;
    }
} 
@media only screen and (max-width: 500px){
    div.top{
        font-size:smaller;
    }
    span.logo {
        display: none;
    }
    span.tel {
        display: flex;
        justify-content: flex-start;
        list-style-type: none; 
        text-decoration: none;
        color: black;
        padding: 10px;
        font-weight: normal;
    }
    div.logo_tel {
        display: flex;
        justify-content: flex-start;
        margin: 10px;
    }
}
span.tel {
    display: flex;
    list-style-type: none; 
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
}
ul.sotial_networks {
    list-style-type: none;
}
ul.sotial_networks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2px 10px;
    top: 20px;
    letter-spacing: 5px;
}
ul li a{ 
    display: flex;
    align-items: center;
    margin: 2px 0px;
    left: 2px ;
}
@media only screen and (max-width: 600px) {
    ul.sotial_networks {
        padding: 0px; 
        width: 50%;
    } 
}
#burger {
    display: none;
}
label.nav_burger{
    display: none;
} 
nav.header_navigation ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: auto;
    padding: 25px;
    background-color: lightgrey;
    opacity: 0.5;
    text-decoration: underline;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: black;
}
a:visited{
    color: darkblue;
}
@media only screen and (max-width: 600px){
    nav.header_navigation ul{
       font-size: small;
    }
} 
h1 {
    display: flex;
    font-family:  'Abril Fatface', cursive;
    justify-content: center;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 4rem;
    margin: 5px;
}
a:hover {
    background-color: white;
}
@media only screen and (max-width: 600px){
    h1 {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 3.2rem;
        width: 100%;
        text-align: center;
    } 
}
@media only screen and (max-width: 500px){
    h1{
        display: flex;
        justify-content: space-between;
        font-weight: normal;
        font-size: 3rem;
        width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width: 380px){
    h1{
        display: flex;
        justify-content: space-between;
        font-weight: normal;
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }
}
h2.header_of_transform{
    display: flex;
    justify-content: flex-end;
    margin-top: -18%; 
    margin-left: 45%;
    width: 40%;
    font-weight: bolder;
    font-family:  'Abril Fatface';
    letter-spacing: 0.4rem;
    font-size: 1.5rem;
    padding: 2.5%;
    background-color: lightgrey;
    opacity: 0.5;
}
@media only screen and (max-width: 600px){
    h2.header_of_transform{
        width: 40%;
        margin-top: -100px;
    }
}
@media only screen and (max-width: 450px){
    h2.header_of_transform{
        width: 50%;
        font-size: 1rem;
        font-weight: bold;
        margin-top: -140px;
    }
}
@media only screen and (max-width: 350px){
    h2.header_of_transform{
        margin-top: -90px;
        font-size: 1rem;
        font-weight: normal;
    } 
}
div.transform_hover {
    margin-top: -85px;
}
img.transform_img {
    width: 100%;
} 
@media only screen and (max-width: 600px){
    div.transform_hover img {
        width: 100%;
    }
    
} 
article.about {
    display: flex;
    justify-content: space-between; 
    margin-top: 80px;
}
@media only screen and (max-width: 600px){
    article.about{
      display: block;
      margin-top: 30px;
    }
}  
#about{
    display: flex;
    font-weight: bold;
    margin: 5px;
    padding: 20px;
    background-color: lightgrey;
    text-decoration: underline;
    font-size: 20px;
}
@media only screen and (max-width: 600px){
    #about{
        display: block;
        margin: 2px;
        padding: 10px;
        font-size: 16px;
    }
} 
@media only screen and (max-width: 450px){
    #about{
        margin-top: 60px;
    } 
}
@media only screen and (max-width: 350px){
    #about{
        margin-top: 40px;
    } 
}
div.about_container{
    display: flex;
}
p.information_of_about{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    margin: 5px;
    font-size: 17px;
}
img.wool {
    width: 200px;
    height: 250px;
    height: auto;

}  
@media only screen and (max-width: 600px){
    .information_of_about{
        display: flex;
        justify-content: flex-end;
        width: 60%;
        text-align: start;
    }
    .img_wool{
       display: flex;
}
@media only screen and (max-width: 450px){
    .information_of_about{
       align-items: center;
       margin: 5px;
       font-size: 13px;
    }
}
article.projects_container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: fr fr fr ;
    /* grid-template-areas: */
    /* ".our_project  .our_project  .our_project"
    ".woman_sweater .green_dress   .broun_scarf"
    ".green_heat .green_heat  .knit_for_kids"; */
   }

.our_projects{
    margin: 2px;
    padding: 10px;
    font-size: 16px;
}
.woman_sweater{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%; 
}
.green_dress{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
     width: 100%; 
} 
.green_heat{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%; 
}
 .green_dress{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
     width: 100%; 
} 
    /* display: flex;
    justify-content: center;
    position: relative; 
    top: -10px;
    font-weight: bold;
    margin: 0;
    padding: 25px;
    background-color: lightgrey;
    text-decoration: underline;
    font-size: 20px;
} */


/* .photo_of_projects{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
} */
    /* position: relative;
    top: -60px; */
/* } */
   
/* .green_dress{
    position: relative;
    bottom: -3em;
    left: 15px;
}
.green_heat{
    position: relative;
    bottom: 180px;
}
.knit_for_kids{
    position: relative;
    left: 280px;
    bottom: 180px;
}
.broun_scarf{
    position: relative;
    left: 25px;
}  */

.section_footer{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom:250px;
    margin: 25px;
    padding: 5px;
    width: 490px;
}

footer.footer{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    position: relative;
    bottom: 15em;
}
.footer_slogan, .copyright{
    display: block;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    font-family:  'Abril Fatface', cursive;
}
h3.contacts_form{
display: flex;
justify-content: center;
position: relative;
bottom: 20px;
font-weight: bold;

}
.fieldset_form{
    background-color: lightgray;
}

.map {
	width: 350px;
    height: 450px;
    }
 